  <!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"> -->
    <!-- Your login fields -->
    <!-- <label>Username: <input formControlName="username"></label>
    <label>Password: <input type="password" formControlName="password"></label>
    <button type="submit">Login</button>
  </form> -->
  
  <!-- Create Account Button -->
  <!-- <button (click)="goToSignup()">Create Account</button> -->


  <div class="login-container">
    <h2>Welcome Back</h2>
  
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      <label>
        Username <span class="required">*</span>
        <input formControlName="username" type="text" placeholder="Enter your username" />
      </label>
  
      <label>
        Password <span class="required">*</span>
        <input formControlName="password" type="password" placeholder="Enter your password" />
      </label>
  
      <!-- Show error message -->
      <div *ngIf="loginError" class="error-message">{{ loginError }}</div>
  
      <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
  
    <p class="signup-link">
      Don't have an account?
      <button (click)="goToSignup()">Create Account</button>
    </p>
  </div>
  