<!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <label>Username</label>
    <input type="text" formControlName="username" />
    
    <label>Password</label>
    <input type="password" formControlName="password" />
  
    <button type="submit">Login</button>
  </form> -->


  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <!-- Your login fields -->
    <label>Username: <input formControlName="username"></label>
    <label>Password: <input type="password" formControlName="password"></label>
    <button type="submit">Login</button>
  </form>
  
  <!-- Create Account Button -->
  <button (click)="goToSignup()">Create Account</button>