  <!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"> -->
    <!-- Your login fields -->
    <!-- <label>Username: <input formControlName="username"></label>
    <label>Password: <input type="password" formControlName="password"></label>
    <button type="submit">Login</button>
  </form> -->
  
  <!-- Create Account Button -->
  <!-- <button (click)="goToSignup()">Create Account</button> -->


  <div class="login-container">
    <h2>Welcome Back</h2>
  
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      <label>
        Username
        <input formControlName="username" type="text" placeholder="Enter your username" />
      </label>
  
      <label>
        Password
        <input formControlName="password" type="password" placeholder="Enter your password" />
      </label>
  
      <button type="submit" class="login-button">Login</button>
    </form>
  
    <div class="signup-link">
      <p>Don't have an account?</p>
      <button (click)="goToSignup()">Create Account</button>
    </div>
  </div>
  