<!-- <nav class="navbar-expand-md border-bottom mb-3">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav item">
                <a class="nav-link text-secondary" routerLink=" '/Favorites' " routerLinkActive="text-white">Favorites</a>
            </li>
            <li class="nav item">
                <a class="nav-link text-secondary" routerLink="/explore" routerLinkActive="text-white">Explore</a>
            </li>
            <li class="nav item">
                <a class="nav-link text-secondary" routerLink="/messages" routerLinkActive="text-white">Messages</a>
            </li>
        </ul>
    </div>
</nav>
 -->


 <nav class="navbar-expand-md border-bottom mb-3">
    <div class="container">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link text-secondary" [routerLink]="'/favorites'" routerLinkActive="text-white">Favorites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" [routerLink]="'/explore'" routerLinkActive="text-white">Explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" [routerLink]="'/messages'" routerLinkActive="text-white">Messages</a>
        </li>
      </ul>
    </div>
  </nav>
  