<div class="profile-container">
    <h2 class="profile-name">Sample Name</h2>
    <div class="profile-picture"></div>


    <div class="profile-details">
        <p><strong>Age:</strong> <span class="profile-age"> 35</span></p>
        <p><strong>Location:</strong> <span class="profile-location"> San Francisco, CA</span></p>
        <p><strong>Profession:</strong> <span class="profile-profession"> Software Engineer</span></p>
        <p><strong>About Me:</strong> <span class="profile-profession"> I enjoy long walks on the beach</span></p>
        <p><strong>Looking For:</strong> <span class="profile-profession"> Relationship, Dates, Hook Up</span></p>
        <p><strong>Sign:</strong> <span class="profile-profession"> Aquarius</span></p>



    </div>

</div>
