
  <div class="signup-container">
    <h2>Create Your Account</h2>
  
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="signup-form">
      <label>
        Username <span class="required">*</span>
        <input formControlName="username" type="text" placeholder="Create a username" />
      </label>
  
      <label>
        Email  <span class="required">*</span>
        <input formControlName="email" type="email" placeholder="Your email address" />
      </label>
  
      <label>
        Password  <span class="required">*</span>
        <input 
        [type]="showPassword ? 'text' : 'password'" 
        formControlName="password" 
        placeholder="Create a password" 
      />
        <button type="button" class="toggle-link" (click)="togglePasswordVisibility()">
          {{ showPassword ? 'Hide Password' : 'Show Password' }}
        </button>      
    
      </label>

      <label>
        Retype Password:  <span class="required">*</span>
        <input 
        [type]="showRetypePassword ? 'text' : 'password'" 
        formControlName="confirmPassword" 
        placeholder="Retype your password"
      />
        <button type="button" class="toggle-link" (click)="toggleRetypePasswordVisibility()">
          {{ showRetypePassword ? 'Hide Password' : 'Show Password' }}
        </button>      
      </label>
      <div *ngIf="signupForm.errors?.['passwordMismatch'] && signupForm.get('confirmPassword')?.touched" style="color: red;">
        Passwords do not match.
      </div>
      
      <!-- Show error if passwords don't match -->
      <div *ngIf="signupForm.errors?.['passwordMismatch'] && signupForm.touched" class="error">
        Passwords do not match.
      </div>
  

      <button type="submit" [disabled]="signupForm.invalid || signupForm.errors?.['passwordMismatch']">Sign Up</button>
    </form>
  </div>
  