<div class="search-container">
    <div class="search-category">
        <label for="gender">Gender:</label>
        <select id="gender" [(ngModel)]="filters.gender">
            <option value="" disabled selected>Choose...</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
        </select>
    </div>

    <div class="search-category">
        <label for="age">Age Range:</label>
        <select id="age" [(ngModel)]="filters.ageRange">
            <option value="" disabled selected>Choose...</option>
            <option value="18-24">18-24</option>
            <option value="25-29">25-29</option>
            <option value="30-39">30-39</option>
            <option value="40+">40+</option>
        </select>
    </div>

    <div class="search-category">
        <label for="orientation">Sexual Orientation:</label>
        <select id="orientation" [(ngModel)]="filters.lookingfor">
            <option value="" disabled selected>Choose...</option>
            <option value="straight">Straight</option>
            <option value="gay">Gay</option>
            <option value="bisexual">Bisexual</option>
            <option value="other">Other</option>
        </select>
    </div>

    <div class="search-category">
        <label for="profession">Profession:</label>
        <select id="profession">
            <option value="" disabled selected>Choose...</option>
            <option value="student">Student</option>
            <option value="engineer">Engineer</option>
            <option value="artist">Artist</option>
            <option value="other">Other</option>
        </select>
    </div>

    <div class="search-category">
        <label for="proximity">State:</label>
        <select id="proximity" [(ngModel)]="filters.location">
            <option value="" disabled selected>Choose...</option>
            <option value="coming soon">coming soon</option>
        </select>
    </div>

    <!-- Search Button -->
    <div class="search-category">
        <button class="search-button" (click)="performSearch()">Search</button>
    </div>



</div>
