<div class="favorites-container">
  <h3>Your Favorite Users</h3>

  <div class="results-container" *ngIf="favorites.length > 0; else noFavorites">
    <div class="user-card" *ngFor="let user of favorites">
      <img
        [src]="user.profile_picture"
        (error)="user.profile_picture = 'assets/default.jpg'"
        alt="Profile Picture"
        class="user-thumbnail"
      />
      <p class="username">{{ user.username }}</p>
      <button (click)="viewProfile(user.id)">View Profile</button>
      <button (click)="removeFavorite(user.id)">Remove</button>
    </div>
  </div>

  <ng-template #noFavorites>
    <p>You have no favorite users yet.</p>
  </ng-template>
</div>
