<div class="update-profile-container">
  <h2>Update Your Profile</h2>

  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <!-- First Name -->
    <div class="form-group">
      <label>First Name</label>
      <input class="form-control" formControlName="firstname">
    </div>

    <!-- Last Name -->
    <div class="form-group">
      <label>Last Name</label>
      <input class="form-control" formControlName="lastname">
    </div>

<!-- Upload Pics Link -->
<a href="#" (click)="showUploadModal = true">Upload Pics</a>
<app-upload-modal *ngIf="showUploadModal"></app-upload-modal>


<!-- Modal -->
<div *ngIf="showUploadModal" class="modal-backdrop">
  <div class="modal">
    <h3>Upload Pictures (Max 6)</h3>
    
    <!-- Image Previews -->
    <div class="preview-container">
      <div *ngFor="let img of uploadedImages; let i = index" class="image-slot">
        <img [src]="img.url" alt="Uploaded Image" class="preview-img">
        <input type="radio" name="profilePic" [value]="img.url" (change)="selectProfilePicture(img.url)" [checked]="img.url === selectedProfilePic">
        <label>Set as profile pic</label>
        <button type="button" (click)="removeImage(i)">Remove</button>
      </div>
    </div>

    <!-- Upload Input -->
    <input type="file" (change)="onFileSelected($event)" [disabled]="uploadedImages.length >= 6" multiple accept="image/*">

    <!-- Save / Cancel Buttons -->
<div class="modal-actions">
      <button (click)="savePictures()">Save</button>
      <button (click)="closeUploadModal()">Cancel</button>
    </div>
  </div>
</div>

    <!-- Location -->
<div class="form-group position-relative">
  <label>Location</label>
  <input
    class="form-control"
    formControlName="location"
    (input)="onLocationInput()"
    (focus)="locationFocused = true"
    (blur)="onLocationBlur()"
    autocomplete="off"
  />
  <ul
    *ngIf="locationSuggestions.length > 0 && locationFocused"
    class="suggestions-list"
  >
    <li
      *ngFor="let suggestion of locationSuggestions"
      (mousedown)="selectLocation(suggestion)"
    >
      {{ suggestion }}
    </li>
  </ul>
</div>


    <!-- Bio -->
    <div class="form-group">
      <label>Bio</label>
      <textarea class="form-control" formControlName="bio"></textarea>
    </div>

    <!-- Gender Dropdown -->
    <div class="form-group">
      <label>Gender</label>
      <select class="form-control" formControlName="gender">
        <option value="">Select</option>
        <option *ngFor="let option of genderOptions" [value]="option">{{ option }}</option>
      </select>
    </div>

    <!-- Birthdate -->
    <div class="form-group">
      <label>Birthdate</label>
      <input class="form-control" type="date" formControlName="birthdate">
    </div>

    <!-- Looking For Dropdown -->
    <div class="form-group">
      <label>Looking For</label>
      <select class="form-control" formControlName="lookingfor">
        <option value="">Select</option>
        <option *ngFor="let option of lookingForOptions" [value]="option">{{ option }}</option>
      </select>
    </div>

    <!-- Sexual Orientation Dropdown -->
    <div class="form-group">
      <label>Sexual Orientation</label>
      <select class="form-control" formControlName="sexualorientation">
        <option value="">Select</option>
        <option *ngFor="let option of orientationOptions" [value]="option">{{ option }}</option>
      </select>
    </div>

    <!-- Profession/Industry Dropdown -->
    <div class="form-group">
      <label>Profession/Industry</label>
      <select class="form-control" formControlName="professionindustry">
        <option value="">Select</option>
        <option *ngFor="let option of professionOptions" [value]="option">{{ option }}</option>
      </select>
    </div>

    <!-- Save Button -->
    <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
  </form>
</div>
