<div class="update-profile-container">
  <h2>Update Your Profile</h2>

  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

    <!-- First Name -->
    <div class="form-group">
      <label>First Name</label>
      <input class="form-control" formControlName="firstname">
    </div>

    <!-- Last Name -->
    <div class="form-group">
      <label>Last Name</label>
      <input class="form-control" formControlName="lastname">
    </div>


    <!-- Location -->
    <div class="form-group position-relative">
      <label>Location</label>
      <input
        class="form-control"
        formControlName="location"
        (input)="onLocationInput()"
        (focus)="locationFocused = true"
        (blur)="onLocationBlur()"
        autocomplete="off"
      />
      <ul
        *ngIf="locationSuggestions.length > 0 && locationFocused"
        class="suggestions-list"
      >
        <li
          *ngFor="let suggestion of locationSuggestions"
          (mousedown)="selectLocation(suggestion)"
        >
          {{ suggestion }}
        </li>
      </ul>
    </div>


    <!-- Bio -->
    <div class="form-group">
      <label>Bio</label>
      <textarea class="form-control" formControlName="bio"></textarea>
    </div>

    <!-- Gender Dropdown -->
    <div class="form-group">
      <label>Gender</label>
      <select class="form-control" formControlName="gender">
        <option value="">Select</option>
        <option *ngFor="let option of genderOptions" [value]="option">{{ option }}</option>
      </select>
    </div>

    <!-- Birthdate -->
    <div class="form-group">
      <label>Birthdate</label>
      <input class="form-control" type="date" formControlName="birthdate">
    </div>

    <!-- Looking For Dropdown -->
    <div class="form-group">
      <label>Looking For</label>
      <select class="form-control" formControlName="lookingfor">
        <option value="">Select</option>
        <option *ngFor="let option of lookingForOptions" [value]="option">{{ option }}</option>
      </select>
    </div>

    <!-- Sexual Orientation Dropdown -->
    <div class="form-group">
      <label>Sexual Orientation</label>
      <select class="form-control" formControlName="sexualorientation">
        <option value="">Select</option>
        <option *ngFor="let option of orientationOptions" [value]="option">{{ option }}</option>
      </select>
    </div>

    <!-- Profession/Industry Dropdown -->
    <div class="form-group">
      <label>Profession/Industry</label>
      <select class="form-control" formControlName="professionindustry">
        <option value="">Select</option>
        <option *ngFor="let option of professionOptions" [value]="option">{{ option }}</option>
      </select>
    </div>


    <!-- Modal -->
    <app-upload-modal
      *ngIf="showUploadModal"
      (close)="showUploadModal = false"
    ></app-upload-modal>

    <!-- Previews -->
    <div class="preview-container">
      <div *ngFor="let img of uploadedImages; let i = index" class="image-slot">
        <img [src]="img.url" class="preview-img" alt="Uploaded Image">

        <!-- <input type="radio" name="profilePic" [value]="img.url" 
              (change)="selectProfilePicture(img.url)" 
              [checked]="img.url === selectedProfilePic">
        <label>Set as Profile Pic</label> -->
        
        <button type="button" (click)="removeImage(i)">Remove</button>
      </div>
    </div>

    <!-- Upload Pics -->
    <p></p>

    <h1>Upload Profile Picture</h1>
    <div class="form-group mt-2">
      <label for="profilePicInput">Choose Profile Picture</label>
      <input
        id="profilePicInput"
        class="form-control"
        type="file"
        (change)="onProfilePicSelected($event)"
        accept="image/*"
      />

    <div *ngIf="profilePicPreview" class="mt-2">
      <p>Preview:</p>
      <img [src]="profilePicPreview" class="preview-img" alt="Profile Picture Preview" />
      <button type="button" class="btn btn-success mt-2" (click)="uploadProfilePicture()">Upload Profile Picture</button>
    </div>
  </div>

     
    <h1>Upload Pics</h1>
    <div class="form-group mt-2">
      <label for="fileInput">Choose Images</label>
      <input
        id="fileInput"
        class="form-control"
        type="file"
        (change)="onFileSelected($event)"
        [disabled]="uploadedImages.length >= 6"
        accept="image/*"
        multiple
      />
      <button type="button" class="btn btn-outline-danger mt-2" (click)="cancelUpload()">Cancel</button>
    </div>


    <!-- Modal Buttons -->
    <div class="modal-actions mt-3">
      <div class="modal-actions">
          <button type="button" class="btn btn-danger me-2" (click)="savePictures()">Save Pics</button>
          <button type="button" class="btn btn-outline-danger" (click)="closeUploadModal()">Cancel</button>
        </div>
        </div>
      <!-- </div>
    </div> -->


    <!-- Save Button -->
   <div>
    <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
     </div>
   </form>
</div>
