<div class="message-container">
  <div *ngFor="let message of messages" class="message">
    <div class="message-header">
      <span class="sender-name">{{ message.sender_id === recipientId ? 'You' : 'Them' }}</span>
      <span class="message-time">{{ message.sent_at | date:'short' }}</span>
    </div>
    <p class="message-text">{{ message.content }}</p>
  </div>

  <form [formGroup]="messageForm" (ngSubmit)="sendMessage()" class="send-message">
    <input formControlName="message" placeholder="Type a message" />
    <button type="submit">Send</button>
  </form>
</div>
